HolidayReservationClient/xml-resources/web-service-references/MCRWebService/wsdl/localhost_8080/MCRWebService/MCRWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mcrapplication.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mcrapplication.ws/" name="MCRWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://mcrapplication.ws/" schemaLocation="http://localhost:8080/MCRWebService/MCRWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerSearchCar">
<part name="parameters" element="tns:partnerSearchCar"/>
</message>
<message name="partnerSearchCarResponse">
<part name="parameters" element="tns:partnerSearchCarResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="MCRWebService">
<operation name="partnerSearchCar">
<input wsam:Action="http://mcrapplication.ws/MCRWebService/partnerSearchCarRequest" message="tns:partnerSearchCar"/>
<output wsam:Action="http://mcrapplication.ws/MCRWebService/partnerSearchCarResponse" message="tns:partnerSearchCarResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://mcrapplication.ws/MCRWebService/partnerSearchCar/Fault/OutletNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://mcrapplication.ws/MCRWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://mcrapplication.ws/MCRWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://mcrapplication.ws/MCRWebService/partnerLogin/Fault/PartnerNotFoundException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://mcrapplication.ws/MCRWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="MCRWebServicePortBinding" type="tns:MCRWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerSearchCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MCRWebService">
<port name="MCRWebServicePort" binding="tns:MCRWebServicePortBinding">
<soap:address location="http://localhost:8080/MCRWebService/MCRWebService"/>
</port>
</service>
</definitions>