HolidayReservationClientApp/xml-resources/web-service-references/MCRWebService/wsdl/localhost_8080/MCRWebService/MCRWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://mcrapplication.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mcrapplication.ws/">

<xs:element name="CategoryNotFoundException" type="tns:CategoryNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="InvalidRelationIdException" type="tns:InvalidRelationIdException"/>

<xs:element name="OutletNotFoundException" type="tns:OutletNotFoundException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="RateNotFoundException" type="tns:RateNotFoundException"/>

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="partnerCreateReservation" type="tns:partnerCreateReservation"/>

<xs:element name="partnerCreateReservationResponse" type="tns:partnerCreateReservationResponse"/>

<xs:element name="partnerDoCancelReservation" type="tns:partnerDoCancelReservation"/>

<xs:element name="partnerDoCancelReservationResponse" type="tns:partnerDoCancelReservationResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="partnerRetrieveAllCategories" type="tns:partnerRetrieveAllCategories"/>

<xs:element name="partnerRetrieveAllCategoriesResponse" type="tns:partnerRetrieveAllCategoriesResponse"/>

<xs:element name="partnerRetrieveAllModels" type="tns:partnerRetrieveAllModels"/>

<xs:element name="partnerRetrieveAllModelsResponse" type="tns:partnerRetrieveAllModelsResponse"/>

<xs:element name="partnerRetrieveAllOutlets" type="tns:partnerRetrieveAllOutlets"/>

<xs:element name="partnerRetrieveAllOutletsResponse" type="tns:partnerRetrieveAllOutletsResponse"/>

<xs:element name="partnerRetrieveAllReservations" type="tns:partnerRetrieveAllReservations"/>

<xs:element name="partnerRetrieveAllReservationsResponse" type="tns:partnerRetrieveAllReservationsResponse"/>

<xs:element name="partnerRetrieveOutletById" type="tns:partnerRetrieveOutletById"/>

<xs:element name="partnerRetrieveOutletByIdResponse" type="tns:partnerRetrieveOutletByIdResponse"/>

<xs:element name="partnerRetrieveReservationById" type="tns:partnerRetrieveReservationById"/>

<xs:element name="partnerRetrieveReservationByIdResponse" type="tns:partnerRetrieveReservationByIdResponse"/>

<xs:element name="partnerRetrieveTotalByCategory" type="tns:partnerRetrieveTotalByCategory"/>

<xs:element name="partnerRetrieveTotalByCategoryResponse" type="tns:partnerRetrieveTotalByCategoryResponse"/>

<xs:element name="partnerSearchCar" type="tns:partnerSearchCar"/>

<xs:element name="partnerSearchCarResponse" type="tns:partnerSearchCarResponse"/>

<xs:complexType name="partnerRetrieveOutletById">
<xs:sequence>
<xs:element name="outletId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveOutletByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="closeHrs" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="openHrs" type="xs:dateTime" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="car" type="tns:car" minOccurs="0"/>
<xs:element name="carCategory" type="tns:category" minOccurs="0"/>
<xs:element name="carModel" type="tns:model" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="driverDispatchRecord" type="tns:driverDispatchRecord" minOccurs="0"/>
<xs:element name="orderType" type="tns:orderTypeEnum" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="paymentStatus" type="tns:paidStatusEnum" minOccurs="0"/>
<xs:element name="penalty" type="xs:double"/>
<xs:element name="pickupDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pickupLocation" type="tns:outlet" minOccurs="0"/>
<xs:element name="pickupTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="resStatus" type="tns:resStatusEnum" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="returnDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="returnLocation" type="tns:outlet" minOccurs="0"/>
<xs:element name="returnTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element name="colour" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="tns:model" minOccurs="0"/>
<xs:element name="outlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="plateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="status" type="tns:carStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="model">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="currFee" type="xs:double" minOccurs="0"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
<xs:element name="modelName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
<xs:element name="currFee" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="ccNum" type="xs:long" minOccurs="0"/>
<xs:element name="custId" type="xs:long" minOccurs="0"/>
<xs:element name="customerType" type="tns:customerTypeEnum" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverDispatchRecord">
<xs:sequence>
<xs:element name="dispatchDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dispatchId" type="xs:long" minOccurs="0"/>
<xs:element name="dispatchStatus" type="tns:dispatchStatusEnum" minOccurs="0"/>
<xs:element name="dispatchTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="fromOutlet" type="xs:string" minOccurs="0"/>
<xs:element name="outlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="tns:roleEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="companyName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveTotalByCategory">
<xs:sequence>
<xs:element name="catId" type="xs:long"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveTotalByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CategoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerCreateReservation">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="ccNum" type="xs:long"/>
<xs:element name="pickUpId" type="xs:long"/>
<xs:element name="returnId" type="xs:long"/>
<xs:element name="categoryId" type="xs:long"/>
<xs:element name="modelId" type="xs:long"/>
<xs:element name="custName" type="xs:string" minOccurs="0"/>
<xs:element name="custEmail" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerCreateReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveReservationById">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
<xs:element name="reservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveReservationByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidRelationIdException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerDoCancelReservation">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
<xs:element name="reservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerDoCancelReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchCar">
<xs:sequence>
<xs:element name="searchType" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pickUpId" type="xs:long"/>
<xs:element name="returnId" type="xs:long"/>
<xs:element name="categoryId" type="xs:long"/>
<xs:element name="modelId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchCarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllModels">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllModelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:model" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partnerRetrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="carStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="OUTLET"/>
<xs:enumeration value="ONRENTAL"/>
<xs:enumeration value="REPAIR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="customerTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PARTNER"/>
<xs:enumeration value="MEMBER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dispatchStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NOTCOMPLETED"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roleEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SALES"/>
<xs:enumeration value="OPERATION"/>
<xs:enumeration value="CUSTOMERSERVICE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="orderTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="CATEGORY"/>
<xs:enumeration value="MODEL"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="paidStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PAID"/>
<xs:enumeration value="UNPAID"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="resStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ORDERED"/>
<xs:enumeration value="PICKEDUP"/>
<xs:enumeration value="DONE"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>